.commercial-container{
    width: 99vw;
    margin-top: 45px;
    background-color: var(--gray-back);
}

@media screen and (max-width: 767px){
    .commercial-container{
        margin-top:56px;
    }
}