.commercial{
    max-width: 738px;
    margin: 34px auto 36px auto;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 767px){
    .commercial{
        margin: 20px;
    }
}
